:root{
    /* Colors */
    --primary-blue: #184E77;
    --accent-blue: #1A759F;
    --primary-green: #76C893;
    --accent-green: #99D98C;
    --primary-gray: #212529;
    --accent-gray: #495057;

    --blue-gradient: linear-gradient(to top right, var(--primary-blue), var(--accent-blue));
    --green-gradient: linear-gradient(to top right, var(--primary-green), var(--accent-green));
    --gray-gradient: linear-gradient(to top right, var(--primary-gray), var(--accent-gray));

    /* Fonts */
    --font-family: "Lato", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body{
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin: 0px 10px;
    background: linear-gradient(to top right, var(--primary-gray), var(--accent-gray));
}

/* Calculator */
.calc-container{
    width: 360px;
    height: fit-content;
    padding: 50px 16px 20px 16px;
    grid-column: 1 / span 12;
    margin: auto;
    background-color: var(--primary-gray);
    border-radius: 50px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
}

/* Input Section */
.input{
    margin: auto;
    width: 100%;
    text-align: right;
    padding: 0px 8px;
    text-align: end;
    color: white;
    margin-top: 40px;
}

#previous{
    font-size: large;
    color: var(--accent-gray);
}

.hidden{
    visibility: hidden;
}

/* Buttons */

.button-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 4px;
}

.control-btn,
.operation-btn,
.primary-btn{
    height: 65px;
    border-radius: 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Controls */
.control-btn-container{
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

.control-btn{
    background: var(--green-gradient);
    border: 2px solid var(--accent-green);
}

svg{
    margin: auto;
}

.control-btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 4px var(--accent-green);
    background: linear-gradient(to top right, #6cb887, #8ec982);
    border: 2px solid #8ec982;
}

/* Operations */
.operation-btn-container{
    grid-column: 4;
    grid-row: 1 / span 5;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 4px;
}

.operation-btn{
    background: var(--blue-gradient);
    border: 2px solid var(--accent-blue)
}

.operation-btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 4px var(--accent-blue);
    background: linear-gradient(to top right, #154468, #176a91);
    border: 2px solid #176a91;
}

/* Primary */
.primary-btn-container{
    grid-row-start: 2;
    grid-row: 2 / span 4;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 4px;
}

.primary-btn{
    background: var(--gray-gradient);
    border: 2px solid var(--accent-gray)
}

.primary-btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 4px var(--accent-gray);
    background: linear-gradient(to top right, #1b1f22, #454b52);
    border: 2px solid #454b52;
}

/* Copyright */
#copyright{
    padding-top: 40px;
    text-align: center;
    margin: 0px auto;
    color: white;
}



/* Responsiveness */
@media screen and (max-width: 375px) {
    body{
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
    }

    .calc-container{
        grid-column: 1 / span 3;
        width: 100%;
    }
}